{% extends 'base.html.twig' %}

{% block title %}RoomSettings{% endblock %}

{% block body %}
    <h1>RoomSettings</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ room_setting.id }}</td>
        </tr>
        <tr>
            <th>NbMaxPlayer</th>
            <td>{{ room_setting.nbMaxPlayer }}</td>
        </tr>
        <tr>
            <th>ShowScore</th>
            <td>{{ room_setting.showScore ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ room_setting.createdAt ? room_setting.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>OneAnswerOnly</th>
            <td>{{ room_setting.oneAnswerOnly ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>DeletedAt</th>
            <td>{{ room_setting.deletedAt ? room_setting.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>NameProfil</th>
            <td>{{ room_setting.nameProfil }}</td>
        </tr>
        <tr>
            <th>NumberRound</th>
            <td>{{ room_setting.numberRound }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('account') }}">back to list</a>

    <a href="{{ path('room_settings_edit', {'id': room_setting.id}) }}">edit</a>

    {{ include('room_settings/_delete_form.html.twig') }}
{% endblock %}
