{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Modification des informations du profil{% endtrans %}
{% endblock %}

{% block body %}
    <div class="login-dark">
        {{ form_start(form,{'attr':{'class':'gradient','style': 'margin-top: 5vh;'}}) }}
        {{ form_row(form._token) }}
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="fa fa-envelope-open"></i></div>
        {% for error in form.vars['errors'] %}
            <div class="alert alert-danger" role="alert">
                <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                {{ error.message | striptags }}
            </div>
        {% endfor %}
        <div class="form-group"><label for="email">{% trans %}Changer le pseudo{% endtrans %}</label>{{ form_row(form.pseudo, {'label':false, 'attr':{'class':'form-control form'}}) }}</div>
        <div class="form-group"><label for="email">{% trans %}Changer l'e-mail{% endtrans %}</label>{{ form_row(form.login, {'label':false, 'attr':{'class':'form-control form'}}) }}</div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">{% trans %}Enregistrez vos modifications{% endtrans %}</button></div><a class="forgot" href="{{ path('account') }}">{% trans %}Annuler{% endtrans %}</a></form>
    </div>
    {{ form_end(form) }}
{% endblock %}