<nav class="navbar navbar-dark navbar-expand-lg fixed-top smart-scroll portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="{{ path('home') }}">Magma</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                {% for locale in locales %}
                    {%  if locale != app.request.locale %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('changeLanguage', {'locale': locale}) }}"><img src="{{ asset('language_images/'~locale~'.png') }}" width="40px" style="margin: auto" alt="{{ locale }}"></a></li>
                    {% endif %}
                {% endfor %}
                {% if not app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('signIn') }}">{% trans %}Se connecter{% endtrans %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('signUp') }}">{% trans %}S'inscrire{% endtrans %}</a></li>
                {% elseif is_granted('ROLE_MODERATEUR') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('suggestQuestion') }}">{% trans %}Proposer une question{% endtrans %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('showQuestion')}}">{% trans %}Accepter une question{% endtrans %}</a></li>
                    <li class="nav-item"><a class="nav-link py-0" href="{{ path('account') }}"><h2 class="m-0"><i class="icon ion-ios-contact"></i></h2></a></li>
                    <li class="nav-item"><a class="nav-link py-0" href="{{ path('logOut') }}"><h2 class="m-0"><i class="icon ion-log-out"></i></h2></a></li>
                {%  else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('suggestQuestion') }}">{% trans %}Proposer une question{% endtrans %}</a></li>
                    <li class="nav-item"><a class="nav-link py-0" href="{{ path('account') }}"><h2 class="m-0"><i class="icon ion-ios-contact"></i></h2></a></li>
                    <li class="nav-item"><a class="nav-link py-0" href="{{ path('logOut') }}"><h2 class="m-0"><i class="icon ion-log-out"></i></h2></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
