<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="{{ path('home') }}">Magma</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                {% if not app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('signIn') }}">Se connecter</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('signUp') }}">S'inscrire</a></li>
                {%  else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('logOut') }}">Se déconnecter</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ path('account') }}"><i class="fa fa-user-circle"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>