{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}

    <section class="portfolio-block contact text-center">
        <h2 class="text-center font-weight-bold mt-5">Valider les questions et réponses proposées par les players</h2>
        <div class="container-fluid">
            <div class="table-responsive mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Game</th>
                        <th class="w-50">Questions</th>
                        <th class="w-50">Réponses</th>
                        <th>Accepter</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody class="text-justify">
                    {% for question in questionsWithText %}
                        <tr>
                            <td><br>{{ question.subcategory.category.game.name }}<br>{{ question.subcategory.category.getLibCategory()}}<br>{{ question.getSubCategory() }}</td>
                            <td class="text">{{ question.getText() }}</td>
                            <td>
                            {% for answer in question.answers %}
                                {{ answer.getTextAnswer() }}<br>
                            {% endfor %}
                            </td>
                            <td><a href="{{ path('acceptQuestion', {'id':question.getId()})}}" class="btn btn-success"><i class="fa fa-check"></i></a></td>
                            <td><a href="{{ path('modify_question', {'id':question.getId()})}}" class="btn btn-info"></a></td>
                            <td><a href="{{ path('delete_question', {'id':question.getId()})}}" class="btn btn-danger"></a></td>
                            {#  <td> <a href="" class="btn btn-primary"> Lire la suite </a></td>#}
                        </tr>
                    {% endfor %}
                    {% for question in questionsWithPicture %}
                        <tr>

                            <td>{{ question.subcategory.category.game.name }}<br>{{ question.subcategory.category.getLibCategory()}}<br>{{ question.getSubCategory() }}</td>
                            <td><img src="{{ asset('games_images/guess_the/JD.jpg') }} " alt="" style="width:200px; height:auto;"> </td>
                            {% for answer in question.answers %}
                                {{ answer.getTextAnswer() }}<br>
                            {% endfor %}
                            <td><a href="{{ path('acceptQuestion', {'id':question.getId()})}}" class="btn btn-success"><i class="fa fa-check"></i></a></td>
                            <td><a href="{{ path('modify_question', {'id':question.getId()})}}" class="btn btn-info"></a></td>
                            <td><a href="{{ path('delete_question', {'id':question.getId()})}}" class="btn btn-danger"></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
        <section></section>
    </section>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="https://github.com/QUENTlN/game">Made with&nbsp;<i class="icon ion-heart"></i>&nbsp; by LeGroupe5</a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>

{% endblock %}