{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>Profil</h2>
                </div>
                <div class="row">
                    <div class="col"><strong class="float-right">Email</strong></div>
                    <div class="col">
                        <p>{{player.login}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><strong class="float-right">Pseudo</strong></div>
                    <div class="col">
                        <p>{{player.pseudo}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><strong class="float-right">Mot de passe</strong></div>
                    <div class="col">
                        <p class="blur">Mot de passe</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="col"><a href="{{ path('profile') }}" class="btn btn-primary float-right">Modifier
                            informations</a></div>
                    <div class="col"><a href="{{ path('changePassword') }}" class="btn btn-primary float-left">Modifier
                            mot de passe</a></div>
                </div>
                <div class="text-center" style="margin-top: 30px;"><a href="{{ path('logOut') }}"
                                                                      class="btn btn-primary btn-danger">Déconnexion</a>
                </div>
                <div class="more-projects">
                    <h3 class="text-center">Mes Paramètres de salons enregistrés</h3>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modalCreateSettings">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edition des paramètres</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body" style="padding: 0;">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('room_settings_new') }}"  class="btn btn-primary btn-success" type="button">Ajouter&nbsp;&nbsp;<i class="fa fa-plus"></i></a></div>
                </div>
                <div class="row gallery">
                    {% for room_setting in room_settings %}
                        {{ include('room_settings/listProfil.html.twig') }}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

